.App {
  text-align: center;
  margin-top: -8rem;
}

.App-container {
  text-align: center;
}

.App h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.App h3 {
  font-size: 2.2rem;
  margin: 2rem 0;
}

.App button {
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  border-radius: 1rem;
  margin: 2rem 1rem;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.App button:hover {
  opacity: 0.8;
  transition: all ease-in;
}
